body {
    display: flex;
    padding: 60px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    
    
}

header {
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    width: 100%;
}
#brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}
.logo {
    border : 10px solid #ffcc4b;
    width: 50px;
    height: 50px;
    border-radius: 35px; 
}

.company {
    display: flex;
    margin-left: 24px;
    font-size: 28.5px;
    letter-spacing: -0.05px;
    line-height: 25.2px;
    font-weight: 800;
    color: #838a9b;
    justify-content: center;
    align-items: center;
}

.hamberger {
    display: flex;
    width: 21.1px;
    height: 17.9px;
    justify-content: space-between;
    flex-direction: column;
}
.hamberger div{
    display: flex;
    width : 21.1px;
    height: 3.9px;
    background-color: #cdd2e1;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    font-size: 17.1px;
    font-weight: 700;
    letter-spacing: -0.01px;
}

.menu a {
    text-decoration-line: none;
    color: #777d8b;
}


#content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 677px;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-top: 78.1px;
    
}

.left-content {
    display: flex;
    width: 50%;
    height: 677px;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid blue; */
}

.main-content {
    display: flex;
    font-size: 72.4px;
    color : #535c64;
    letter-spacing: -0.05px;
    font-weight: 800;
    line-height: 64px;
}

.latin {
    display: flex;
    margin-top: 39px;
    font-size: 13.2px;
    letter-spacing: 0.1px;
    color: #686d79;
    font-weight: 500;
}

.read-border {
    display: flex;
    width: 172px;
    height: 42.8px;
    background-color: #d7e3f8;
    border-radius: 27px; 
    margin-top: 42px;
    justify-content: center;
    
}

.read {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.05px;
    color: #bdcce0;

}

.follow {
    display: flex;
    flex-direction: row;
    margin-top: 57.3px;
    
}

.text {
    width: 72px;
    height: 16px;
    font-size: 13.2px;
    font-weight: 500;
    letter-spacing: 0.1px; 
    color: #d6dbe7;
}

.logos {
    display: flex;
    flex-direction: row;
}

.facebook {
    width : 15px;
    height: 21px;
    margin-left: 30px;
    object-fit: contain;
}

.tumbler {
    width : 14px;
    height: 21px;
    padding-left: 23px;
}

.instagram {
    width : 21px;
    height: 21px;
    padding-left: 19px;
}

.right-content {
    display: flex;
    justify-content: center;
    width: 50%;
    background: url(group-2-3-x.png) no-repeat center right;
    background-size: contain;
    /* border: 2px solid brown; */
}

.image {
    display: flex;
    justify-content: center;
    height: 677px;
}